%p.in-gold-500.font-18 Order Summary
%table.general-summary-table
  %tr
    %td
      %p.font-16 Item total:
    %td
      %p.font-16 €117.69
  %tr
    %td
      %p.font-16 Shipping:
    %td
      %p#shipment-label.font-16 €0.00
  %tr
    %td
      %strong.font-18 Order Total:
    %td
      %strong.font-18 €117.69
