.row
  .col-sm-5
    .general-img-wrap
      -# = image_tag book_image_path(book.images.first), alt: book.title
      = image_tag book.images.first, alt: book.title
      -# = image_tag book_image_path('ResponsiveWebDesign'), alt: book.title,
        -# style: "vertical-align:middle"
      -# %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
  .col-sm-6
    .mb-60
      %h1= book.title
      %p.lead.book-description.text-justify= truncate book.description, length: 400
      %p.in-grey-600.small= book.authors_full
      .general-align.pt-20
        =link_to 'Buy Now', cart_add_path(id: book.id), method: :post, class: 'btn btn-primary'
