%tr
  %td
    %p.font-16 Order subtotal:
  %td
    %p.font-16= number_to_currency @subtotal
%tr
  %td
    %p.font-16 Shipping:
  %td
    %p#shipment-label.font-16= number_to_currency @shipment_price
%tr
  %td
    %strong.font-18 Order Total:
  %td
    %strong#order-total-label.font-18{'data-subtotal': @subtotal}= number_to_currency @total
