%a.dropdown-toggle.dropdown-btn{href: "#", 'data-toggle': "dropdown",
  role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  =CatalogHelper::SORTERS[catalog_params.to_h.slice('sort_by', 'order')]
  %i.fa.fa-angle-down.dropdown-icon
%ul.dropdown-menu
  - CatalogHelper::SORTERS.each do |sorter_params, sorter_name|
    %li
      =link_to sorter_name, catalog_params.merge(sorter_params)
