%p.in-grey-600.small.mb-10= t '.filter_by_category'
.dropdown.mb-20
  %a.dropdown-toggle.dropdown-btn{href: "#", 'data-toggle': "dropdown",
    role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
    =capitalize_category(find_category(params[:category].to_i).first.first)
    %i.fa.fa-angle-down.dropdown-icon
  %ul.dropdown-menu
    -@categories.each do |category|
      %li
        =link_to capitalize_category(category.first.first),
          catalog_params.merge('category' => category.first.second)
